details {
  margin: 0;
  padding: 0;
}

summary {
  padding: 8px 0;
  cursor: pointer;
  user-select: none;
}

.node-content.empty {
  padding: 8px 0;
  padding-left: 15px;
}

.node-content.deleted {
  color: #999;
}

.children {
  margin-left: 28px;
}
